$vamp: #080808;
.nav {
    height: 140px;
    margin: 0;
    background-color: rgba($color: $vamp, $alpha: 0.9);
    color: white;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    a {
        color: white;
        text-align: center;
        font-weight: 100 !important;
    }
    .active {
        color: red;
    }
}
