@font-face {
  font-family: PixelH;
  src: url(../public/ka1.ttf);
}

body {
  margin: 0;
  font-family: PixelH;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
  font-family: "VT323", monospace;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  height: 490px;
  margin-top: -4em;
  padding: 3em;
  width: 310px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAB7CAMAAAC8V3VSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJUExURScnJ////wAAAGz/AEYAAAADdFJOU///ANfKDUEAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB/SURBVGhD7dqhAQMxDARBx/0Xndj/fJCCdpmIpoFbe7gLrLEeYK3PUD/hGGP/j3CA9xgpgAWwABbAAlgAC2ABLIAFsAAWwAJYAAtgASyABbAAFsACWAALYAEsgAWwABbAAlgAC2ABLIAFsAAWwAJYAPsPMCjcUfH4LPoIU+39BVNGLdV3xIdLAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  position: relative;
  left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .statsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 335px;
  position: relative;
  left: 2px;
  padding: 1em;
  width: 95%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .statsContainer img {
  width: 60px;
  height: 60px;
}

.card .statsContainer .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .shinyGoldStatsBackground {
  background-image: url(../public/img/statsBackgroundShinyYellow.png);
}

.card .grayStatsBackground {
  background-image: url(../public/img/statsBackgroundGray.png);
}

.card .brownStatsBackground {
  background-image: url(../public/img/statsBackgroundBrown.png);
}

.card .goldStatsBackground {
  background-image: url(../public/img/statsBackgroundYellow.png);
}

.card .cardHeroImage {
  width: 100%;
  margin-top: 2em;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../public/img/baseCardBorder.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  padding: 1em;
}

.card .cardHeroImage img {
  max-width: 280px;
  max-height: 230px;
}

.card .cardHeroImage .characterImage {
  min-width: 200px;
}

.card .cardHeroImage .circle {
  position: absolute;
  left: 45px;
  top: 75px;
  width: 73px;
  height: 67px;
  margin: 0;
  padding: 0;
  margin-right: -4em;
}

.card .cardHeroImage .cost {
  position: absolute;
  left: 80px;
  top: 88px;
  font-weight: bold;
  color: #080808;
  font-size: 60px;
  margin: -12px;
}

.card .goldBorder {
  background-image: url(../public/img/yellowCardBorder.png);
}

.card .silverBorder {
  background-image: url(../public/img/silverCardBorder.png);
}

.card .brownBorder {
  background-image: url(../public/img/brownCardBorder.png);
}

.card h2 {
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  background-image: url(../public/img/nameBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
  padding: 20px;
  margin-bottom: -16px;
  margin-top: -12px;
  color: #080808;
}

.blueBackground {
  background-image: url(../public/img/blueCard.png);
}

.redBackground {
  background-image: url(../public/img/redCard.png);
}

.greenBackground {
  background-image: url(../public/img/greenCard.png);
}

.yellowBackground {
  background-image: url(../public/img/yellowCard.png);
}

.grayBackground {
  background-image: url(../public/img/grayCard.png);
}
/*# sourceMappingURL=index.css.map */