@font-face {
  font-family: PixelH;
  src: url(../public/ka1.ttf);
}

body {
  margin: 0;
  font-family: PixelH;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
