@font-face {
  font-family: PixelH;
  src: url(../public/ka1.ttf);
}

$vamp: #080808;

body {
  margin: 0;
  //background-image: url(../public/img/background.jpg);
  background-color: lightgray;
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  font-family: PixelH;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.card {
  font-family: "VT323", monospace;
  height: 490px;
  margin-top: -4em;
  padding: 3em;
  width: 310px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAB7CAMAAAC8V3VSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJUExURScnJ////wAAAGz/AEYAAAADdFJOU///ANfKDUEAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB/SURBVGhD7dqhAQMxDARBx/0Xndj/fJCCdpmIpoFbe7gLrLEeYK3PUD/hGGP/j3CA9xgpgAWwABbAAlgAC2ABLIAFsAAWwAJYAAtgASyABbAAFsACWAALYAEsgAWwABbAAlgAC2ABLIAFsAAWwAJYAPsPMCjcUfH4LPoIU+39BVNGLdV3xIdLAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  position: relative;
  left: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .statsContainer {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 335px;
    position: relative;
    left: 2px;
    padding: 1em;
    width: 95%;
    height: 50px;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
    }
    .stats {
      display: flex;
      align-items: center;
    }
  }

  .cardHeroImage {
    width: 100%;
    margin-top: 2em;
    height: 224px;
    display: flex;
    justify-content: center;
    background-image: url(../public/img/baseCardBorder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    padding: 1em;

    img {
      margin-top: 5px;
      max-width: 280px;
      max-height: 210px;
    }

    .characterImage {
      min-width: 170px;
    }

    .circle {
      position: absolute;
      left: 45px;
      top: 75px;
      width: 73px;
      height: 67px;
      margin: 0;
      padding: 0;
      margin-right: -4em;
    }

    .cost {
      position: absolute;
      left: 80px;
      top: 88px;
      font-weight: bold;
      color: $vamp;
      font-size: 60px;
      margin: -12px;
    }
  }

  h2 {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    background-image: url(../public/img/nameBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px;
    padding: 20px;
    margin-bottom: -16px;
    margin-top: -12px;
    color: $vamp;
    text-transform: capitalize;
  }

  transform: scale(0.6);
}

input {
  font-family: "VT323", monospace;
  font-size: x-large;
  margin: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  &:focus {
    outline: none;
  }
}

select {
  font-family: "VT323", monospace;
  font-size: x-large;
  border: none;
  border-radius: 5px;
  margin: 30px;
  background-color: rgba($color: $vamp, $alpha: 0.2);
  padding: 3.5px;
  outline: none;
}

.pixelButton {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixelButton:active {
  top: 2px;
}

.pixelButton {
  line-height: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixelButton p {
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;

  background: #000000;
  background: linear-gradient(135deg, transparent 10px, #000000 0) top left,
    linear-gradient(225deg, transparent 10px, #000000 0) top right,
    linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
    linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}
