@font-face {
  font-family: PixelH;
  src: url(../public/ka1.ttf);
}

body {
  margin: 0;
  background-color: lightgray;
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  font-family: PixelH;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a:hover {
  cursor: pointer;
}

.card {
  font-family: "VT323", monospace;
  height: 490px;
  margin-top: -4em;
  padding: 3em;
  width: 310px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAB7CAMAAAC8V3VSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJUExURScnJ////wAAAGz/AEYAAAADdFJOU///ANfKDUEAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB/SURBVGhD7dqhAQMxDARBx/0Xndj/fJCCdpmIpoFbe7gLrLEeYK3PUD/hGGP/j3CA9xgpgAWwABbAAlgAC2ABLIAFsAAWwAJYAAtgASyABbAAFsACWAALYAEsgAWwABbAAlgAC2ABLIAFsAAWwAJYAPsPMCjcUfH4LPoIU+39BVNGLdV3xIdLAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  position: relative;
  left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.card .statsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 335px;
  position: relative;
  left: 2px;
  padding: 1em;
  width: 95%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .statsContainer img {
  width: 60px;
  height: 60px;
}

.card .statsContainer .stats {
  color: black;
  font-weight: bold;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card .cardHeroImage {
  width: 100%;
  margin-top: 2em;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../public/img/baseCardBorder.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  padding: 1em;
}

.card .cardHeroImage img {
  margin-top: 5px;
  max-width: 280px;
  max-height: 210px;
}

.card .cardHeroImage .characterImage {
  min-width: 170px;
}

.card .cardHeroImage .circle {
  position: absolute;
  left: 45px;
  top: 75px;
  width: 73px;
  height: 67px;
  margin: 0;
  padding: 0;
  margin-right: -4em;
}

.card .cardHeroImage .cost {
  position: absolute;
  left: 80px;
  top: 88px;
  font-weight: bold;
  color: #080808;
  font-size: 60px;
  margin: -12px;
}

.card h2 {
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  background-image: url(../public/img/nameBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
  padding: 20px;
  margin-bottom: -16px;
  margin-top: -12px;
  color: #080808;
  text-transform: capitalize;
}

input {
  font-family: "VT323", monospace;
  font-size: x-large;
  margin: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

input:focus {
  outline: none;
}

select {
  font-family: "VT323", monospace;
  font-size: x-large;
  border: none;
  border-radius: 5px;
  margin: 30px;
  background-color: rgba(8, 8, 8, 0.2);
  padding: 3.5px;
  outline: none;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.selectBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin-bottom: 2em;
}

.selectBox .optionsContainer {
  background-color: whitesmoke;
  width: 80%;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.selectBox ::-webkit-scrollbar {
  width: 8px;
  background-color: darkgray;
  border-radius: 0 8px 8px 0;
}

.selectBox ::-webkit-scrollbar-thumb {
  background-color: #080808;
  border-radius: 0 8px 8px 0;
}

.selectBox .active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.selectBox .option,
.selectBox .selected {
  padding: 12px 24px;
  cursor: pointer;
}

.selectBox .selected {
  margin-top: 1em;
  border-radius: 8px;
  background-color: whitesmoke;
  margin-bottom: 8px;
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.selectBox .selected::after {
  content: "";
  background-image: url(../public/img/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.selectBox .active + .selected::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -6px;
}

.selectBox .radio {
  display: none;
}

.selectBox .option:hover {
  background-color: darkgray;
}

.selectBox label {
  cursor: pointer;
}

.pixelButton {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixelButton:active {
  top: 2px;
}

.pixelButton {
  line-height: 0;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  border-style: solid;
  border-width: 20px;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixelButton p {
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  background: #000000;
  background: linear-gradient(135deg, transparent 10px, #000000 0) top left, linear-gradient(225deg, transparent 10px, #000000 0) top right, linear-gradient(315deg, transparent 10px, #000000 0) bottom right, linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, #000000 15px), radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px), radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px), radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}

.deckViewTitle {
  text-transform: capitalize;
  text-align: center;
  margin-top: 12px;
  margin-bottom: -14px;
  font-family: "VT323", monospace;
  font-size: 60px;
  padding: 0;
}

.deckViewAddCards {
  text-align: center;
  margin-top: 2em;
  margin-bottom: -14px;
  font-family: "VT323", monospace;
  font-size: 40px;
  padding: 0;
}
/*# sourceMappingURL=index.css.map */