.cardsContainer {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(24em, 24em));
    justify-content: space-evenly;
    justify-items: center;

    // div {
    //     height: 490px;
    //     width: 318px;
    // }

    .buttons {
        height: 50px;
        margin-top: -5.5em;
        display: flex;
        align-items: center;

        .delete {
            &:hover {
                color: red;
            }
        }

        .add {
            &:hover {
                color: green;
            }
        }

        .edit {
            &:hover {
                color: lightblue;
            }
        }
    }

    .pixelButton {
        font-size: 25px;
        color: white;
        height: auto;
        margin: 10px;
        font-family: "VT323";

        position: relative;
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;

        cursor: pointer;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .pixelButton:active {
        top: 2px;
    }

    .pixelButton {
        line-height: 0;

        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

        border-style: solid;
        border-width: 20px;
        -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
        -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
        -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
        border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    }

    .pixelButton p {
        vertical-align: top;
        position: relative;
        width: auto;
        text-align: center;
        margin: -20px -20px;
        line-height: 20px;
        padding: 10px 20px;

        background: #000000;
        background: linear-gradient(135deg, transparent 10px, #000000 0) top left,
            linear-gradient(225deg, transparent 10px, #000000 0) top right,
            linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
            linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-image: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
            radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
            radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px),
            radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
    }
}

.deckModel {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    .deckModelContent {
        background-color: burlywood;
        padding: 1em;
        height: 200px;
        width: 400px;
        box-shadow: -15px 0 0 0 saddlebrown, 15px 0 0 0 saddlebrown, 0 -15px 0 0 saddlebrown, 0 15px 0 0 saddlebrown;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .close-button {
            height: 1em;
            width: 1em;
            position: relative;
            left: 45%;
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            font-size: xx-large;
            font-weight: bold;
            color: black;
            &:hover{
                color: red;
                transform: scale(1.3);
            }
        }

        h4 {
            text-align: center;
            margin-bottom: 0;
            font-weight: normal;
        }
    }
}

.activeModal{
    opacity: 1;
    z-index: 1;
}