@import url(../../index.css);
input {
  font-family: "VT323", monospace;
  font-size: x-large;
  margin: 12px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

input:focus {
  outline: none;
}

select {
  font-family: "VT323", monospace;
  font-size: x-large;
  border: none;
  border-radius: 5px;
  margin: 12px;
  background-color: rgba(8, 8, 8, 0.2);
  padding: 3.5px;
}

.create-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.create-container .card {
  font-family: "VT323", monospace;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  height: 490px;
  margin-top: -4em;
  padding: 3em;
  width: 323px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
}

.create-container .card .statsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 355px;
  padding: 1em;
  width: 320px;
  height: 50px;
  margin-left: -30px;
  margin-top: 2px;
}

.create-container .card .statsContainer img {
  width: 60px;
  height: 60px;
}

.create-container .card .statsContainer .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-container .card .shinyGoldStatsBackground {
  background-image: url(../../../public/img/statsBackgroundShinyYellow.png);
}

.create-container .card .grayStatsBackground {
  background-image: url(../../../public/img/statsBackgroundGray.png);
}

.create-container .card .brownStatsBackground {
  background-image: url(../../../public/img/statsBackgroundBrown.png);
}

.create-container .card .goldStatsBackground {
  background-image: url(../../../public/img/statsBackgroundYellow.png);
}

.create-container .card .cardHeroImage {
  margin-top: 2em;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  padding: 1em;
}

.create-container .card .cardHeroImage .circle {
  position: absolute;
  left: 45px;
  top: 75px;
  width: 73px;
  height: 67px;
  margin: 0;
  padding: 0;
  margin-right: -4em;
}

.create-container .card .cardHeroImage .cost {
  position: absolute;
  left: 80px;
  top: 88px;
  font-weight: bold;
  color: #080808;
  font-size: 60px;
  margin: -12px;
}

.create-container .card .cardHeroImage img {
  max-width: 280px;
  max-height: 230px;
}

.create-container .card .goldBorder {
  background-image: url(../../../public/img/yellowCardBorder.png);
}

.create-container .card .silverBorder {
  background-image: url(../../../public/img/silverCardBorder.png);
}

.create-container .card .brownBorder {
  background-image: url(../../../public/img/brownCardBorder.png);
}

.create-container .card h2 {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  background-image: url(../../../public/img/nameBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
  padding: 20px;
  margin-bottom: -16px;
  margin-top: -12px;
  color: #080808;
}

.create-container .blueBackground {
  background-image: url(../../../public/img/blueCard.png);
}

.create-container .redBackground {
  background-image: url(../../../public/img/redCard.png);
}

.create-container .greenBackground {
  background-image: url(../../../public/img/greenCard.png);
}

.create-container .yellowBackground {
  background-image: url(../../../public/img/yellowCard.png);
}

.create-container .grayBackground {
  background-image: url(../../../public/img/grayCard.png);
}
/*# sourceMappingURL=CreateCard.css.map */