$vamp: #080808;

@import url(../../index.css);

.create-container {
    display: grid;
    gap: 6em;
    grid-template-columns: repeat(3, minmax(24em, 24em));
    justify-content: center;
    justify-items: center;
    margin-top: 6em;

    h2 {
        text-transform: capitalize;
    }
}
