$vamp: #080808;

@import url(../../index.css);
input {
    font-family: "VT323", monospace;
    font-size: x-large;
    margin: 12px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    &:focus {
        outline: none;
    }
}

select {
    font-family: "VT323", monospace;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    margin: 12px;
    background-color: rgba($color: $vamp, $alpha: 0.2);
    padding: 3.5px;
}

.create-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 10em;
    justify-content: space-evenly;
    .card {
        font-family: "VT323", monospace;
        transform: scale(0.8);
        height: 490px;
        margin-top: -4em;
        padding: 3em;
        width: 323px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;

        .statsContainer {
            display: flex;
            justify-content: space-between;
            color: white;
            text-align: center;
            font-size: xx-large;
            font-weight: normal;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 355px;
            padding: 1em;
            width: 320px;
            height: 50px;
            margin-left: -30px;
            margin-top: 2px;
            img {
                width: 60px;
                height: 60px;
            }
            .stats {
                display: flex;
                align-items: center;
            }
        }

        .shinyGoldStatsBackground {
            background-image: url(../../../public/img/statsBackgroundShinyYellow.png);
        }
        .grayStatsBackground {
            background-image: url(../../../public/img/statsBackgroundGray.png);
        }
        .brownStatsBackground {
            background-image: url(../../../public/img/statsBackgroundBrown.png);
        }
        .goldStatsBackground {
            background-image: url(../../../public/img/statsBackgroundYellow.png);
        }

        .cardHeroImage {
            margin-top: 2em;
            height: 224px;
            display: flex;
            justify-content: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 300px;
            padding: 1em;

            .circle {
                position: absolute;
                left: 45px;
                top: 75px;
                width: 73px;
                height: 67px;
                margin: 0;
                padding: 0;
                margin-right: -4em;
            }

            .cost {
                position: absolute;
                left: 80px;
                top: 88px;
                font-weight: bold;
                color: $vamp;
                font-size: 60px;
                margin: -12px;
            }

            img {
                max-width: 280px;
                max-height: 230px;
            }
        }

        .goldBorder {
            background-image: url(../../../public/img/yellowCardBorder.png);
        }
        .silverBorder {
            background-image: url(../../../public/img/silverCardBorder.png);
        }
        .brownBorder {
            background-image: url(../../../public/img/brownCardBorder.png);
        }

        h2 {
            text-align: center;
            font-size: 55px;
            font-weight: bold;
            background-image: url(../../../public/img/nameBackground.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 320px;
            padding: 20px;
            margin-bottom: -16px;
            margin-top: -12px;
            color: $vamp;
        }
    }

    .blueBackground {
        background-image: url(../../../public/img/blueCard.png);
    }

    .redBackground {
        background-image: url(../../../public/img/redCard.png);
    }

    .greenBackground {
        background-image: url(../../../public/img/greenCard.png);
    }

    .yellowBackground {
        background-image: url(../../../public/img/yellowCard.png);
    }
    
    .grayBackground{
        background-image: url(../../../public/img/grayCard.png);
    }
}
